<div>
  <p class="a"></p>
  <p class="b"></p>
  <p class="c"></p>
  <p class="d"></p>
</div>
<style>
  body{
    background: #F3AC3C;
  }
  div {
    margin: auto;
    background: #1A4341;
    margin-top:54px;
    width: 190px;
    height: 190px;

  }
  p{
    width:190px;
    aspect-ratio: 1;
    background: blue;
    border-radius: 50%;
    position: absolute;
    background: #F3AC3C;
  }
  .a{
   	top: -57px;
    left: 10px;
  }
  .b{
    top:-57px;
    right: 10px;
  }
  .c{
    bottom:-57px;
    left: 10px;

  }
  .d{
    bottom:-57px;
    right: 10px;

  }

  /* 99.9 */
