<div class="half top"></div>
<div class="mid"></div>
<div class="half bot"></div>
<p>
<style>
  body{
    background: #6CB3A9;
    display:flex;
    justify-content:center;
  }
  .half{
    z-index: 0;
    width: 200px;
    height: 200px;
   	position: absolute;
    justify-content:center;
    background-image: linear-gradient(
    to bottom,
    #D25B70 45%,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 55%,
    #FFFFFF 50%
)
  }
  .top{
    margin-top: 42px;
    border-radius: 50%;
  }

  .mid{
    z-index: -1;
    background: #781728;
    width: 180px;
    height:180px;
    margin: auto;
    border-radius: 50vw;
  }
  p{
    position:absolute;
    z-index: 50;
    background: #F6DF96;
    width: 50px;
    height: 50px;
    margin:auto;
    margin-top: 107px;
    border: 10px solid #781728;
    border-radius: 50%;
  }
  .bot{
    margin-top: 500px;
    background: #FFFFFF;
  }
</style>
